@media screen and (max-height:725px){
	.topBG{
		display: none;
	}
}

@media screen and (max-width:770px){
	.arrow{
		display: none;
	}

	.hidden{
		display: none !important;
	}

	.show{
		display: block !important;
	}

	.top container h1{
		font-size: 60px;
	}

	.HUD form{
		width: 90%;
	}

	.close-button{
		top: 4%;
		right: 5%;
	}

	header{
		margin-bottom: 25%;
	}

	.techthing{
		overflow: hidden;
	}

	.techthing container{
		display: block;
	}
	.techthing container .top-center{
	width: 100% !important;
	}
	.techthing container div:first-child {
    width: 100%;
	}
	.analogs .top-center:first-child{
		width: 80% !important;
	}
	.analogs div{
		width: 80% !important;
	}
	.analogs div img{
		width: 100% !important;
	}

	.logos{
		width: 60% !important;
	}

	.topBG{
		height: 30%;
	}

	.top{
		height: 90%;
		background:linear-gradient(180deg, #2F2D36 -4.49%, #0A1014 100%);
	}
	.top div{
		margin-bottom: 5%;
	}

	.PCshow{
		display: none;
	}

	.MobileShow{
		display: block;
	}

	.MobileTable{
		display: none;
	}

	.choice{
		display: block !important;
	}

	.contacts > div{
		padding: 0 !important;
		margin: 0 !important;
		width: 49% !important;
	}

	.contacts{
		width: 100%;
	}

	footer{
		display: block;
		padding: 0;
		margin: 0;
	}

	.products{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		overflow: hidden;
		list-style: inline;
		list-style-type:none ;
	}
}