html,
body{
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: white;
	color: black;
	font-family: 'SanFrancisco', sans-serif;
}

.social{
	width: 70% !important;

}

select{
	width: auto;
	color: white;
	border: 0;
	background-color: rgba(0,0,0,0);
}

select option{
	overflow: scroll;
	background-color: #2F2E36;
}

.HUD{
	z-index: -50;
	padding-top: 7%;
	position: fixed;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.HUD form{
	padding-top: 2%;
	border-radius: 1%;
	background-color: #E1E3E6;
	width: 40%;
	height: 70%;
	overflow: hidden; 
}

.close-button{
	position: absolute;
	right: 30.5%;
	top:13%;
	cursor: pointer;
}

.close-button img{
	width: 80%;
}

.form-factor{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
	height: 85%;
}

.HUD form input{
	background-color:#E1E3E6 ;
	padding:10px;
	border-radius: 25px;
	height: 5%;
	width: 80%;
}
.HUD form textarea{
	background-color: #E1E3E6;
	padding:10px;
	border-radius: 25px;
	width: 80%;
	height: 15%;
}
.HUD input[type="submit"]{
	color: white;
	background-color: #D18200;
	margin-bottom: 2em;
	vertical-align: middle;
	display: inline-flex;
	padding-top: 0.8em ;
	border-radius: 10em;
	width: 12em;
	height: 3em;
	transition: 0.5s;
	justify-content: space-evenly;
	border: 0;
	margin-bottom: 1em;
	cursor: pointer;
}
label{
	width: 100%;
	text-align: center;
}

.input-text{
	width: 70%;
}

.top{
	background: #060A0D;
	color: white;
	width: 100%;
	height: 60.5em;
	margin-bottom: 5.5em;
}

div{
	width: auto;
}

header{
	height: 5em;
	width: 100%;
}

h1{
	padding: 0;
	margin: 0;
}

.text-center{
	text-align: center;
}

.top-center h1{
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	width: 100%;
	text-align: center;
}

.top-center{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.top-center button{
	color: white;
	background-color: #D18200;
	margin-top: 2em;
	vertical-align: middle;
	display: inline-flex;
	padding-top: 0.8em ;
	border-radius: 10em;
	width: 12em;
	height: 3em;
	transition: 0.5s;
	justify-content: space-evenly;
	border: 0;
	margin-bottom: 1em;
	cursor: pointer;
}

.header-head{
	padding-top: 1.5em;
	display: inline-flex;
	width: 100%;
}

.top-alignleft{
	padding-left: 3em ;
	margin-left: 0;
	margin-right: auto;
}

.top-alignright{
	margin-left: auto;
	padding-right: 3em ;
	margin-right: 0;
}

.orange-text{
	text-align: center;
	color: #D18200;
	margin-bottom: 0.5em;
}

.txt{
	margin-bottom: 2em;
}

.topBG{
	background-image: url(../assets/topBG.png);
	background-size: 62%;
	background-repeat: no-repeat ;
	background-position:50% 50%;
	width: 100%;
	height: 35em;
}

.MobileShow{
	display: none;
}

table{
	border-collapse: collapse;
}

.arrow{
	width: 2.3em;
	height: 2.3em;
	border-bottom: rgba(255, 255, 255, 0.6) 5px solid;
	border-right: rgba(255, 255, 255, 0.6) 5px solid;
	transform: rotate(45deg);
	border-radius: 5px;
	cursor: pointer;
}

.arrowin{
	border-radius: 2px;
	border-bottom: rgba(255, 255, 255, 0.6) 3px solid;
	border-right: rgba(255, 255, 255, 0.6) 3px solid;
	transform: rotate(0deg);
	opacity: 0%;
	width: 1em ;
	height: 1em ;
	animation: 1.5s ease-out 1s infinite arrow ;
}

.techthing h1{
	font-size: 30px;
	font-weight: normal;
}

.line{
	height: 1px;
	width: 12em !important;
	background-color: #D18200;
	margin-bottom: 3em;
}

.techthing container{
	margin-top: 100px;
	width: 90%;
	display: inline-flex;
	height: auto;
}

.techthing container div:first-child{
	width: 45%;
}

.techthing container div:last-child{
	width: 45%;
}

.techthing container div:first-child li{
	list-style-image: url(../assets/marker.png);
	background-size: 10%;
}

ul li{
	font-size: 15px;
	margin-bottom: 2em;
	font-style: normal;
}

.techthing container .top-center div{
	width: 70%;
}

.analogs{
	justify-content: space-around;
}

.analogs .top-center:first-child{
	width: 48% !important;
}

.analogs .text-center{
	width: 45%;
	background-color:#E1E3E6;
	padding-top: 2%;
	padding-bottom: 2%;
}

.analogs div{
	font-size: 25px;
	margin-bottom: 5%;
}

.analogs img{
	width: 90%;
}

.analogs .text-center div{
	width: 100% ;
}

.techthing container{
	margin-bottom: 10em;
}

.distribute{
	justify-content: space-around;
	margin-bottom: 10em;
}

.distribute div{
	width: 20%;
}

.distribute div:first-child{
	width: 100%;
}

.distribute img{
	width: 100%;
}

.documents{
	overflow: hidden;
	padding-top:60px;
	color: white;
	background: linear-gradient(254.81deg, #060A0D 4.61%, rgba(6, 10, 13, 0.64) 38.13%), linear-gradient(60.29deg, #060A0D -3.13%, rgba(6, 10, 13, 0.58) 64.86%);;
}

.documents h1{
	font-size: 30px;
	font-style: normal;
}

.documents container{
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

a{
	color: white;
	text-decoration: none;
}

.doc{
	width: auto;
	display: grid;
	grid-template-areas:
	"file name"
	"file desc";
}
.doc div{
	height: auto;
}
.doc img{
	height: 45px;
}
.doc div:nth-child(1){
	grid-area: file;
}
.doc div:nth-child(2){
	grid-area: name;
}
.doc div:nth-child(3){
	text-align: start;
	grid-area: desc;
}

.documents container{
	margin-bottom: 5em;
}

.documents container a, .documents container > div{
	margin-bottom: 2em;
}

select option:hover{
	background-color: red;
}

footer{
	padding-left: 100px;
	margin-top: 1%;
	padding-right: 100px;
	width: 100%;
	display: inline-flex;
}

footer > a{
	height: 3em;
}

.contacts{
	width: 45%;
	
	margin-left: auto;
	text-align: center;
}

footer div:nth-child(1){
	width: auto;
	margin-right: 0;
	margin-left: auto;
	text-align: left;
	padding-left: 5em;
}

.map-mark{
	list-style-image: url(../assets/map-mark.png);
}
.phone-mark{
	list-style-image: url(../assets/phone-mark.png);
}
.mail-mark{
	list-style-image: url(../assets/mail-mark.png);
}

.social{
	width: 100%;
	display: inline-flex;
	justify-content: space-evenly;
}
.social img{
	width: 30px;
	height: auto;
}

.contacts ul li{
	font-size: 13px;
	margin-bottom: 5px;
	width: 15em;
}

.contacts{
	display: inline-flex;
}

.contacts div{
	width: auto;
}

.contacts ul{
	margin-top: 15px;
	width: 15em;
}
.documents container{
	height: auto;
}

.delimitr{
	height: 1px;
	width: 100%;
	background-color: white;
}

@keyframes arrow{
	0%{
		opacity: 0%;
	}

	50%{
		opacity: 100%;
	}

	100%{
		opacity: 0%;
		transform: translate(15px, 15px);
	}
}
