.PCshow{
	font-size: 15px;
	width: 90%;
}

table{
	margin-bottom: 8em;
}
.tabletwo{
	margin-bottom: 0;
}

.PCshow .orange-text:nth-child(1){
	font-size: 30px;
}

.tabletwo tr:nth-child(2) td:nth-child(10){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.tabletwo tr td:nth-child(12){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.tabletwo tr td:nth-child(14){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.tabletwo tr:nth-child(18) td:nth-child(12){
	border-bottom: solid 1px gray;
}
.tabletwo tr:nth-child(18) td:nth-child(14){
	border-bottom: solid 1px gray;
}

.PCshow td{
	width: 100px;
	text-align: center;
	font-style: normal;
}

.PCshow tr td:nth-child(1){
	text-align: left;
}

.empty{
	width: 1em;
}

.PCshow tr .empty:first-child{
	width: 17.5em;
}

.PCshow tr td:first-child{
	width: auto;
}

 .table-dashline td{
	border-bottom: dashed 1px gray;
	border-collapse: collapse;
}

 .table-dashline td:nth-child(2){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

 .table-dashline td:nth-child(4){
	border-left: solid 1px gray;
}
 .table-dashline td:nth-child(5){
	border-right: solid 1px gray;
}

 .table-dashline td:nth-child(7){
	border-left: solid 1px gray;
}
 .table-dashline td:nth-child(8){
	border-right: solid 1px gray;
}

.PCshow:nth-child(2) tr:nth-child(2) td:nth-child(10){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.PCshow:nth-child(2) tr:nth-child(2) td:nth-child(12){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.PCshow:nth-child(2) tr:nth-child(2) td:nth-child(14){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

 .table-dashline td:nth-child(10){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.PCshow:nth-child(2)  .table-dashline td:nth-child(12){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.PCshow:nth-child(2)  .table-dashline td:nth-child(14){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

.PCshow:first-child .table-dashline td:nth-child(12){
	border-left: solid 1px gray;
}
.PCshow:first-child .table-dashline td:nth-child(13){
	border-right: solid 1px gray;
}

.PCshow:first-child .table-dashline td:nth-child(15){
	border-left: solid 1px gray;
}
.PCshow:first-child .table-dashline td:nth-child(16){
	border-right: solid 1px gray;
}
.PCshow:nth-child(2) .table-dashline td:nth-child(12){
	border-right: solid 1px gray;
	border-left: solid 1px gray;
}
.PCshow:nth-child(2) .table-dashline td:nth-child(14){
	border-right: solid 1px gray;
	border-left: solid 1px gray;
}

.PCshow tr:first-child td:nth-child(2){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-top:solid 1px gray;
	border-radius: 10px;
}
.PCshow tr:first-child td:nth-child(4){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-top:solid 1px gray;
	border-radius: 10px;
}
.PCshow tr:first-child td:nth-child(6){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-top:solid 1px gray;
	border-radius: 10px;
}
.PCshow tr:first-child td:nth-child(8){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-top:solid 1px gray;
	border-radius: 10px;
}
.PCshow tr:first-child td:nth-child(10){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-top:solid 1px gray;
	border-radius: 10px;
}
.PCshow tr:first-child td:nth-child(12){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-top:solid 1px gray;
	border-radius: 10px;
}

.PCshow:nth-child(1) tr:nth-child(2) td:nth-child(10){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

.PCshow tr:nth-child(2) td:nth-child(2){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

.PCshow tr:nth-child(2) td:nth-child(4){
	border-left: solid 1px gray;
}
.PCshow tr:nth-child(2) td:nth-child(7){
	border-left: solid 1px gray;
}
.PCshow tr:nth-child(2) td:nth-child(12){
	border-left: solid 1px gray;
}
.PCshow:nth-child(1) tr:nth-child(2) td:nth-child(15){
	border-left: solid 1px gray;
}
.PCshow:last-child tr:nth-child(2) td:nth-child(10){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.PCshow:last-child tr:nth-child(2) td:nth-child(12){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}
.PCshow:last-child tr:nth-child(2) td:nth-child(14){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

.PCshow tr:nth-child(2) td:nth-child(5){
	border-right: solid 1px gray;
}
.PCshow tr:nth-child(2) td:nth-child(8){
	border-right: solid 1px gray;
}
.PCshow:nth-child(1) tr:nth-child(2) td:nth-child(13){
	border-right: solid 1px gray;
}
.PCshow:nth-child(1) tr:nth-child(2) td:nth-child(16){
	border-right: solid 1px gray;
}


.PCshow tr:nth-child(18) td:nth-child(2){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-bottom:solid 1px gray;
	border-radius: 10px;
}
.PCshow tr:nth-child(18) td:nth-child(10){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-bottom:solid 1px gray;
	border-radius: 10px;
}
.PCshow:nth-child(2) tr:nth-child(18) td:nth-child(12){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-bottom:solid 1px gray;
	border-radius: 10px;
}
.PCshow:nth-child(2) tr:nth-child(18) td:nth-child(14){
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-bottom:solid 1px gray;
	border-radius: 10px;
}

.PCshow tr:nth-child(18) td:nth-child(4){
	border-radius: 10px;
	border-left: solid 1px gray;
	border-bottom:solid 1px gray;
}
.PCshow tr:nth-child(18) td:nth-child(7){
	border-radius: 10px;
	border-left: solid 1px gray;
	border-bottom:solid 1px gray;
}
.PCshow:nth-child(1) tr:nth-child(18) td:nth-child(12){
	border-radius: 10px;
	border-left: solid 1px gray;
	border-bottom:solid 1px gray;
}
.PCshow:nth-child(1) tr:nth-child(18) td:nth-child(15){
	border-radius: 10px;
	border-left: solid 1px gray;
	border-bottom:solid 1px gray;
}

.PCshow tr:nth-child(18) td:nth-child(5){
	border-radius: 10px;
	border-right: solid 1px gray;
	border-bottom:solid 1px gray;
}
.PCshow tr:nth-child(18) td:nth-child(8){
	border-radius: 10px;
	border-right: solid 1px gray;
	border-bottom:solid 1px gray;
}
.PCshow:nth-child(1) tr:nth-child(18) td:nth-child(13){
	border-radius: 10px;
	border-right: solid 1px gray;
	border-bottom:solid 1px gray;
}
.PCshow:nth-child(1) tr:nth-child(18) td:nth-child(16){
	border-radius: 10px;
	border-right: solid 1px gray;
	border-bottom:solid 1px gray;
}

.PCshow td{
	height: 35px;
}


.MobileShow tr{
	border-bottom: dashed 1px gray;
}